.ConnectOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: start; */
    z-index: 10;
}

.ConnectOverlay.withStats {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.Controls {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
}
.Stats {
    flex: 1;
}
